.FullScreeen {
    min-height: 100vh; /* Se asegura de ocupar al menos el 100% de la pantalla */
    width: 100vw;   /* Ocupa el 100% del ancho de la ventana */
    display: flex;           /* Usamos flexbox para el diseño */
    flex-direction: column;  /* Los elementos dentro se dispondrán en columna */
    background-image: url('../assets/Fondo.png'); /* Usamos la imagen como fondo */
    background-size: cover;  /* Asegura que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen en la página */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}


.Header {
    position: fixed;
    width: 100%;  /* Ocupa todo el ancho de la ventana */
    top: 0;       /* Fija el header en la parte superior */
    left: 0;      /* Alinea el header al borde izquierdo */
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
    background-color: #fff;  /* Fondo blanco para el header */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  /* Agrega una sombra sutil */
}

.Contenedor_logo {
    display: flex;  /* Usamos flexbox para centrar el contenido */
    margin-top: 120px;  /* Espacio superior para evitar que se superponga al header */
    text-align: center;  /* Centra el contenido dentro del logo */
    padding: 30px 0;  /* Espaciado interno */
    align-items: center;  /* Centra verticalmente el contenido */
    justify-content: center;        /* Centra horizontalmente */
    


}

.ContenedorInformacion{
    display: flex;
    flex-direction: column; /* Cambiado para alinear el texto y la imagen en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    margin-top: 0px;
    padding: 10px 0;
    width: 70%;
    margin: 0 auto;
}


.ContenedorMetodo{
    display: flex;
    flex-direction: column; /* Cambiado para alinear el texto y la imagen en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    margin-top: 0px;
    padding: 10px 0;
    width: 70vw;
    margin: 0 auto;
}

.Imagen_Pago{
    width: auto;
    height: auto;
}

.BotonDescargar{
    background-color: #ffffff; /* Color de fondo del botón */
    color: #000000; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 50px; /* Bordes redondeados */
    padding: 30px 20px; /* Espaciado interno */
    cursor: pointer; /* Cursor de puntero */
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 20px; /* Se corrige px */
    font-weight: bold;
    width: auto;
    height: auto;
    transition: all 1200ms;
    display: flex;
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
}

.BotonDescargar:hover {
    background: #f4f4f4;
    color: #ffffff;
}



